#footer{
    background: #9f1d25;
    color: white;
}
.footer-wrapper {
    position: relative;
    width: 100%;
}
#section_886322246{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(255, 255, 255);
}
.footer-wrapper .line{
    background-color: gray;
    height: 2px;
    width: 100%;
    position: absolute;
    z-index: 1;
}
.section {
    align-items: center;
    display: flex;
    flex-flow: row;
    min-height: auto;
    padding: 30px 0;
    position: relative;
    width: 100%;
}
.dt-footer-socials-sec{
    padding: 0!important;
}
.bg {
    opacity: 0;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
}
.section-bg {
    overflow: hidden;
}
.fill {
    height: 100%;
    left: 0;
    margin: 0!important;
    padding: 0!important;
    position: absolute;
    right: 0;
    top: 0;
}
.bg-fill {
    background-position: 50% 50%;
    background-repeat: no-repeat!important;
    background-size: cover!important;
}
.bg-loaded {
    opacity: 1;
}
.relative {
    position: relative!important;
}
.section-content {
    z-index: 1;
}
.align-center {
    justify-content: center!important;
}
.align-middle {
    align-items: center!important;
    align-self: center!important;
    vertical-align: middle!important;
}
.dt-footer-socials{}
#row-1697622275{}
.col-inner {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1 0 auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 100%;
}
.dt-footer-socials .col-inner {
    text-align: center;
}
.dt-footer-socials .col-inner .ux-logo {
    position: relative;
    background: #fff;
    z-index: 2;
}
.inline-block {
    display: inline-block;
}
.align-middle {
    align-items: center!important;
    align-self: center!important;
    vertical-align: middle!important;
}
.block {
    display: block;
}
.dt-footer-socials-sec > a {
    color: #676767;
    text-decoration: none;
    touch-action: manipulation;
    background-color: transparent;
}
.dt-footer-socials .col-inner .ux-logo img {
    width: 40px;
    height: 40px!important;
    opacity: .5;
    transition: all .2s;
}
